body {
  font-size: .875rem;
}
.nav-link {
	border: none;
	background: none;
	text-align: left;
}
/* Sidebar */
.sidebar {
	overflow: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding-top: 48px;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767px) {
  .sidebar {
    top: 3rem;
  }
}

/* .sidebar-sticky { */
  /* position: relative; */
  /* top: 0; */
  /* height: calc(100vh - 48px); */
  /* padding-top: .5rem; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
/* } */
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
	padding:.25rem 0;
}
.sidebar .nav-link.active {
  color: #2470dc;
}


/* Navbar */
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}
.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
/* .navbar-dark .navbar-nav .nav-link { */
    /* color: rgba(255,255,255,.55); */
/* } */
/* .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover { */
    /* color: rgba(255,255,255,.75); */
/* } */
.contact-action {
	font-size: 1.5rem;
}
.contact-action-edit {	
	color: #fd7e14;
}
.contact-action-delete {	
	color: #dc3545;
}

@media (max-width: 480px) {
    table thead {
		display: none;
	}
	table tr {
		 display: block;
	}
	table td, table th {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}


@media print {
    #section-topmenu, #section-affiliates, #section-search {
        display: none;
    }
}